<doctype <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Math Website</title>
  </head>
  <body>
    <h1>Tell me about the settings for your math test</h1>
    <form method = "post" action = "/results">
      <p>Freq 1</p><br>
      <input type = "text" name = "freq_q_1">
      <p>Freq 2</p><br>
      <input type = "text" name = "freq_q_2">
      <p>Freq 3</p><br>
      <input type = "text" name = "freq_q_3">
      <p>Questions per Test</p><br>
      <input type = "text" name = "questions_per_test">
      <p>Number of Tests</p><br>
      <input type = "text" name = "tests_number">
      <br>
      <input type = "submit">
    </form>
  </body>
</html>
